.u-shape {
    width: 200px;
    height: 300px;
    border-radius: 100px 100px 0 0;
    background-color: #3498db;
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
  }
  